
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form (ngSubmit)="poststudent(f)" #f="ngForm">
        <div class="form-group">
          <label>Student name</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="name" required >
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" name="email" [(ngModel)]="email" required email [disabled]="edit">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="text" name="password" [(ngModel)]="password" required>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid" *ngIf="!edit">Submit</button>
          <button class="btn btn-primary" type="button" [disabled]="!f.valid" *ngIf="edit" (click)="saveupdate(f)">Update</button>
        </div>
      </form>
      <div class="label-danger" *ngIf="!log">submit failed</div>
    </div>
    <div class="col-sm-3"></div>
  </div>
<!--<app-displaystudent></app-displaystudent>-->
  <div class="row">
    <div class="col">

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>
            <th></th>
          </tr>

          <tr *ngFor="let student of students">
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.password}}</td>
            <td><button class="btn-sm btn-primary" type="submit" (click)="updatestudent(student.email)">Update</button> </td>
            <td><button class="btn-sm btn-primary" type="submit" (click)="deletestudent(student.email)" [disabled]="edit && email==student.email">Delete</button> </td>
          </tr>
        </table>
        <div align="center"><button type="button" (click)="page(btn)" *ngFor="let btn of btns" >{{btn+1}}...{{btn+5}} </button></div>
      </div>
    </div>
  </div>
</div>

