<div id="data">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at eligendi, ex mollitia necessitatibus placeat praesentium ratione recusandae voluptatibus voluptatum. Culpa, doloribus ex obcaecati praesentium qui, rem repudiandae sapiente sed vero voluptate, voluptates voluptatum. Ab at, consequatur dolorem et ipsam neque obcaecati quis reprehenderit sunt?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
  What is Lorem Ipsum?
</div>
  <button (click)="displayMore()">more</button>
